.git
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
.venv
venv
env
fastapi
.env
.env.*
!.env.example
media/*
!media/.gitkeep
tests
htmlcov
.coverage
dist
build
*.egg-info
alembic.log
